<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="addressBean" class="com.oracle.basicspringapp.Address">
		<constructor-arg name="doorNo" index="0" value="202"
			type="int">
		</constructor-arg>
		<constructor-arg name="areaName" index="1"
			value="ECity" type="String">
		</constructor-arg>
		<constructor-arg name="cityName" index="2"
			value="Bangalore" type="String">
		</constructor-arg>
	</bean>

	<!-- <bean id="employeeBean" class="com.oracle.basicspringapp.Employee"> 
		<constructor-arg name="address" index="1"> <ref bean="addressBean" /> </constructor-arg> 
		<constructor-arg type="String" name="name" index="0"> <value>Joydip</value> 
		</constructor-arg> </bean> -->
	<bean id="employeeBean" class="com.oracle.basicspringapp.Employee">
		<constructor-arg>
			<value>Joydip</value>
		</constructor-arg>
		<constructor-arg>
			<ref bean="addressBean" />
		</constructor-arg>
	</bean>

	<bean id="setterAddressBean"
		class="com.oracle.basicspringapp.Address">
		<property name="doorNo">
			<value>202</value>
		</property>
		<property name="areaName">
			<value>ECity</value>
		</property>
		<property name="cityName" value="Bangalore">
		</property>
	</bean>
	<bean id="setterEmployeeBean" class="com.oracle.basicspringapp.Employee">
		<property name="name">
			<value>Joydip</value>
		</property>
		<property name="address">
			<ref bean="setterAddressBean" />
		</property>
	</bean>
</beans>